# build artefact
bin

# dependencies
node_modules

# logs
*.log

# coverage directory
coverage
/.nyc_output

# vscode workspace
*.code-workspace

# OS stuff
.DS_Store
.tmp

# eslint cache
.eslintcache

# tests
test/temp/